<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<div class="wrapper">
  <img class="wrapper-img" src="../../../../assets/Delete Outline_big.png">
  <div mat-dialog-content>
    <p class="messageTitle">{{message}}</p>
    <p class="subTitle"><b>{{subTitle}}</b></p>
  </div>
  <div mat-dialog-actions class="action-buttons">
    <button mat-stroked-button color="accent" class="cancel-btn" (click)="onDismiss()">Cancel</button>
    <button mat-raised-button color="primary" class="confirm-btn" (click)="onConfirm()">Delete</button>
  </div>
</div>