/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

/* ::ng-deep .mat-dialog-container{
    padding:0 !important
} */
.wrapper{
    Width:403px;
    padding-top: 50px;
    Height:326px;
    overflow:hidden;
    border-radius:4px;
    text-align: center;
}
.wrapper-img{
    padding-bottom: 50px;
}
.action-buttons{
    text-align: center;
    margin-top:30px;
    display: inline-block;
}
.cancel-btn{
    margin-right:30px
}
.confirm-btn{
    background: #C53E6C !important;
    float: right;
    color: white;
}
.messageTitle{
    padding:0;
    margin:0
}
.subTitle{
    text-transform: capitalize
}
