<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<div class="snack-container box-{{getIcon.type}}">
  <div class="snack-container-message">
    <span *ngIf="data.snackType == 'error'">
      <mat-icon style="vertical-align:bottom">error_outline</mat-icon>
    </span>
    <span *ngIf="data.snackType == 'success'">
      <mat-icon style="vertical-align:bottom">done</mat-icon>
    </span>
    <span>
      <span> {{data.message}}</span> <span>
        <mat-icon (click)="closeSnackbar()" class="mat-close">close</mat-icon>
      </span>
    </span>
  </div>
</div>