/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.mat-close{
    position: absolute; 
    right: 10px;
    cursor: pointer;
}