/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/
.backupContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: none;
    text-align: center;
}   
.title-card-right{
    display: inline !important;
    float: right !important;
    cursor: pointer;
}
.title-card-left{
    display: inline !important;
    float: left !important;
}
.backupContent{
    padding-top:20px;
    padding-bottom:10px
} 
.onSubmitBulk{
    width:134px;
}
.container2{
    color:black;
    text-align: left;
    padding-left: 20px;
}
.head-flex{
    font-size: 13px;
    color:#606060;
    margin-bottom:5px
}
.sub-head-flex{
    font-size: 14px;
    color: black;
    margin:0px;
    overflow-wrap: anywhere; 
}
.backupHead{
    font-family: 'Rakuten Sans Bold';
}
.loader{
    position:fixed;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid #f5dfe6;
    border-right: 6px solid #ef6b98;
    border-bottom: 6px solid #C53E6C;
    border-top: 6px solid #C53E6C;
    border-radius:100%;
}
.ag-theme-material{
    width: 100%; 
    height: 200px;
}
.backupDisable{
    margin-left:12px
}
.editBackup{
    margin-left:10px;
}
.cell-wrap-text{ 
    white-space: normal !important; 
}
