<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->
<mat-card class="backupContainer">
  <mat-card-header>
    <mat-card-title class="title-card-left">
      <h6 class="backupHead">Backup Policy</h6>
    </mat-card-title>
    <mat-card-title class="title-card-right">
      <img class="editBackup" src="../../../../assets/Edit Outline_no_hover.png" onmouseover="this.src='../../../../assets/Edit Outline.png'"
        onmouseout="this.src='../../../../assets/Edit Outline_no_hover.png'" (click)="openDialogBackup('edit')" *ngIf="!enableBackup">
        <img class="backupDisable" src="../../../../assets/backup_enable.png" onmouseover="this.src='../../../../assets/enable_backup_active.png'"
        onmouseout="this.src='../../../../assets/backup_enable.png'" (click)="openDisable()" *ngIf="!enableBackup">
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="backupContent">
  <button  ng-cloak mat-button class="onSubmitBulk" (click)="openDialogBackup('backup')" *ngIf="enableBackup">Enable Backup</button>
    <div  ng-cloak class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px" style="color:black" *ngIf="!enableBackup">
      <div class="item item-1" fxFlex="25%">
        <p class="head-flex"> Full Backup</p>
        <p class="sub-head-flex">{{dbName["backup-policy"].full.schedule["recurrence-type"]}}</p>
      </div>
      <div class="item item-2" fxFlex="25%" fxFlexOrder="3">
        <p class="head-flex">Incremental Backup</p>
        <p class="sub-head-flex">{{dbName["backup-policy"].incremental.schedule == null ? 'NA' : dbName["backup-policy"].incremental.schedule["recurrence-type"]}}</p>
      </div>
      <div class="item item-2" fxFlex="25%" fxFlexOrder="3">
        <p class="head-flex">Retention Period
          ({{dbName["backup-policy"].full.schedule["recurrence-type"]}})</p>
        <p class="sub-head-flex"> {{dbName["backup-policy"].full["retention-period"]}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<b>Backup Logs</b>
<ag-grid-angular class="ag-theme-material" [rowData]="rowDataBackup"
  [columnDefs]="columnDefsBackup" [frameworkComponents]="frameworkComponents" [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
<div *ngIf="showLoader" class="loader"></div>