/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.logoImg img{
    width: 88px;;
}
.userDetails{
    text-align: right;
    padding-top: 20px;
}
.headerMain{
    border-bottom: 1px solid #e4e3e3;
    background-color: white;
    margin-bottom: 30px;
    height: 64px
}
.userIcon{
    top: 6px;
    margin-left: 10px;
    position: relative;
}
.breadcrumbs{
    padding-top: 10px;
    font-size: 14px;
}
:host {
    display: flex;
    width: 100%;
}
.body-wrapper {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;  
}
.body-wrapper-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-page-body-container {
    width: 100%;
    height: 100%;
    min-width: 73.937em;
    min-height: 46.211em;
}
.main-page-body-container:nth-child(2) {
    width: 100%;
    height: 100%;
}
.right-head{
    position: absolute;
    right:14px
}
.right-head img{
    padding-left:28px;
    cursor: pointer;
}
.right-head mat-icon{
    top: 8px;
    color: #9c9c9c !important;
}
.sidenav-icon{
    padding-right: 10px;
}
.navLinks{
    font-size:14px;
    color:#686868;
    margin:0px  
}
.userProfile{
    font-size: 12px;
    color:black;
    cursor: pointer;
    vertical-align: super;
}
.logOut{
    font-size: 12px;
    color:black;
    cursor: pointer;
    vertical-align: super;  
}
.drawerHead{
    color:black;
    font-size: 16px;
    font-family: 'Rakuten Sans Bold';
    margin:0;top: -9px;
    position: relative; 
}
.userName{
    color:#9C9C9C;
    padding-left: 10px;
    font-size: 12px;
    display: inline-block;
    margin: 0;
}
.userName:first-letter{
    text-transform: capitalize;
}
.matWrapper{
    border-bottom: 1px solid #F2F2F2
}
.menuIcon{
    color: #686868;
}
.drawerHeadContainer{
    width:150px
}
.bradcrumbContainer{
    position: absolute;
    top: 31px;
    left: 105px;
}
.sideNavContainer{
    flex: 1 1 auto;
}
.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    display: none;
  }
  .submenu.expanded {
    transform: scaleY(1);
    display:block;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    margin-left: 40%;
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .subMenuDatabase{
      margin-left:30px
  }
