<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->
<div fxFill class="body-wrapper">
  <mat-toolbar color="warn" class="matWrapper" *ngIf="isShow">
    <mat-toolbar-row>
      <div class="icon-color"><img src="../../../../assets/Frame 7463.png"></div>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon class="menuIcon" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="drawerHeadContainer">
        <p class="drawerHead">Platform As A Service</p>
      </div>
      <app-search></app-search>
      <div class="right-head">
        <span class="badgeIcns">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            <p class="userName">{{user}}</p>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item class="userProfile" (click)="showUserProfile()"> -->
            <button mat-menu-item class="userProfile" routerLink="/userProfile" routerLinkActive="active-link">
              <mat-icon>person_outline</mat-icon>User Profile
            </button>
            <button mat-menu-item class="logOut" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>Logout
            </button>
          </mat-menu>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-breadcrumb class="bradcrumbContainer"></app-breadcrumb>
  <mat-sidenav-container class="sideNavContainer">
    <mat-sidenav #drawer mode="over" closed role="navigation">
      <mat-nav-list>
        <a mat-list-item (click)="showSubSubMenu = !showSubSubMenu" routerLinkActive="active-link">
          <img src="./../../../../assets/Databases.png" class="sidenav-icon">
          <p class="navLinks" *ngIf="isShowing || isExpanded">Databases</p>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">
            expand_more</mat-icon>
        </a>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isExpanded">
          <a mat-list-item routerLink="/viewDB" routerLinkActive="active-link">
            <div class="subMenuDatabase">
              <img src="./../../../../assets/submenu.png" class="sidenav-icon">
              <span class="navLinks">MySql</span>
            </div>
          </a>

        </div>
        <a mat-list-item routerLink="/clusters" routerLinkActive="active-link">
          <img src="./../../../../assets/Cluster.png" class="sidenav-icon">
          <p class="navLinks">Clusters</p>
        </a>
        <a mat-list-item routerLink="/dataCenter" routerLinkActive="active-link">
          <img src="./../../../../assets/Datacenter.png" class="sidenav-icon">
          <p class="navLinks">Data Centers</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet (activate)="showHideNav($event)"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>