@charset "UTF-8";
/*
Font Style Set
font: Rakuten Sans, Rakuten Sans UI
*/

/* ------ All in : Rakuten Sans ------ */
/* Light */
@font-face {
  font-family: 'Rakuten Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rakuten Sans Light'),
  url('woff/RakutenSans_W_Lt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Lt.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Rakuten Sans Light Italic'),
  url('woff/RakutenSans_W_LtIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_LtIt.woff2') format('woff2');
}

/* Regular */
@font-face {
  font-family: 'Rakuten Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rakuten Sans Regular'),
  url('woff/RakutenSans_W_Rg.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Rg.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rakuten Sans Italic'),
  url('woff/RakutenSans_W_It.woff') format('woff'),
  url('fwoff2/RakutenSans_W_It.woff2') format('woff2');
}

/* SemiBold */
@font-face {
  font-family: 'Rakuten Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Rakuten Sans SemiBold'),
  url('woff/RakutenSans_W_SBd.woff') format('woff'),
  url('fwoff2/RakutenSans_W_SBd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Rakuten Sans SemiBold Italic'),
  url('woff/RakutenSans_W_SBdIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_SBdIt.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Rakuten Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rakuten Sans Bold'),
  url('woff/RakutenSans_W_Bd.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Bd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rakuten Sans Bold Italic'),
  url('woff/RakutenSans_W_BdIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_BdIt.woff') format('woff2');
}

/* Black */
@font-face {
  font-family: 'Rakuten Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Rakuten Sans Black'),
  url('woff/RakutenSans_W_Blk.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Blk.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Rakuten Sans Black Italic'),
  url('woff/RakutenSans_W_BlkIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_BlkIt.woff2') format('woff2');
}

/* ------ Individual : Rakuten Sans ------ */
/* Light */
@font-face {
  font-family: 'Rakuten Sans Light';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans Light'),
  url('woff/RakutenSans_W_Lt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Lt.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans Light';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans Light Italic'),
  url('woff/RakutenSans_W_LtIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_LtIt.woff2') format('woff2');
}

/* Regular */
@font-face {
  font-family: 'Rakuten Sans Regular';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans Regular'),
  url('woff/RakutenSans_W_Rg.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Rg.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans Regular';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans Italic'),
  url('woff/RakutenSans_W_It.woff') format('woff'),
  url('fwoff2/RakutenSans_W_It.woff2') format('woff2');
}

/* SemiBold */
@font-face {
  font-family: 'Rakuten Sans SemiBold';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans SemiBold'),
  url('woff/RakutenSans_W_SBd.woff') format('woff'),
  url('fwoff2/RakutenSans_W_SBd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans SemiBold';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans SemiBold Italic'),
  url('woff/RakutenSans_W_SBdIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_SBdIt.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Rakuten Sans Bold';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans Bold'),
  url('woff/RakutenSans_W_Bd.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Bd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans Bold';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans Bold Italic'),
  url('woff/RakutenSans_W_BdIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_BdIt.woff') format('woff2');
}

/* Black */
@font-face {
  font-family: 'Rakuten Sans Black';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans Black'),
  url('woff/RakutenSans_W_Blk.woff') format('woff'),
  url('fwoff2/RakutenSans_W_Blk.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans Black';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans Black Italic'),
  url('woff/RakutenSans_W_BlkIt.woff') format('woff'),
  url('fwoff2/RakutenSans_W_BlkIt.woff2') format('woff2');
}



/* ------ All in : Rakuten Sans UI ------ */
/* Light */
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rakuten Sans UI Light'),
  url('woff/RakutenSansUI_W_Lt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Lt.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Rakuten Sans UI Light Italic'),
  url('woff/RakutenSansUI_W_LtIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_LtIt.woff2') format('woff2');
}

/* Regular */
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rakuten Sans UI Regular'),
  url('woff/RakutenSansUI_W_Rg.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Rg.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rakuten Sans UI Italic'),
  url('woff/RakutenSansUI_W_It.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_It.woff2') format('woff2');
}

/* SemiBold */
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Rakuten Sans UI SemiBold'),
  url('woff/RakutenSansUI_W_SBd.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_SBd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Rakuten Sans UI SemiBold Italic'),
  url('woff/RakutenSansUI_W_SBdIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_SBdIt.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rakuten Sans UI Bold'),
  url('woff/RakutenSansUI_W_Bd.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Bd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rakuten Sans UI Bold Italic'),
  url('woff/RakutenSansUI_W_BdIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_BdIt.woff') format('woff2');
}

/* Black */
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Rakuten Sans UI Black'),
  url('woff/RakutenSansUI_W_Blk.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Blk.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Rakuten Sans UI Black Italic'),
  url('woff/RakutenSansUI_W_BlkIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_BlkIt.woff2') format('woff2');
}

/* ------ Individual : Rakuten Sans UI ------ */
/* Light */
@font-face {
  font-family: 'Rakuten Sans UI Light';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans UI Light'),
  url('woff/RakutenSansUI_W_Lt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Lt.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI Light';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans UI Light Italic'),
  url('woff/RakutenSansUI_W_LtIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_LtIt.woff2') format('woff2');
}

/* Regular */
@font-face {
  font-family: 'Rakuten Sans UI Regular';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans UI Regular'),
  url('woff/RakutenSansUI_W_Rg.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Rg.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI Regular';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans UI Italic'),
  url('woff/RakutenSansUI_W_It.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_It.woff2') format('woff2');
}

/* SemiBold */
@font-face {
  font-family: 'Rakuten Sans UI SemiBold';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans UI SemiBold'),
  url('woff/RakutenSansUI_W_SBd.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_SBd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI SemiBold';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans UI SemiBold Italic'),
  url('woff/RakutenSansUI_W_SBdIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_SBdIt.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Rakuten Sans UI Bold';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans UI Bold'),
  url('woff/RakutenSansUI_W_Bd.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Bd.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI Bold';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans UI Bold Italic'),
  url('woff/RakutenSansUI_W_BdIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_BdIt.woff') format('woff2');
}

/* Black */
@font-face {
  font-family: 'Rakuten Sans UI Black';
  font-style: normal;
  font-display: swap;
  src: local('Rakuten Sans UI Black'),
  url('woff/RakutenSansUI_W_Blk.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_Blk.woff2') format('woff2');
}
@font-face {
  font-family: 'Rakuten Sans UI Black';
  font-style: italic;
  font-display: swap;
  src: local('Rakuten Sans UI Black Italic'),
  url('woff/RakutenSansUI_W_BlkIt.woff') format('woff'),
  url('fwoff2/RakutenSansUI_W_BlkIt.woff2') format('woff2');
}
