<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<b class="restoreWrapper">Restore Logs</b>
<ag-grid-angular class="ag-theme-material" [rowData]="rowDataRestore" [columnDefs]="columnDefsRestore"
  [frameworkComponents]="frameworkComponents" [gridOptions]="gridOptions">
</ag-grid-angular>
<div *ngIf="showLoader" class="loader"></div>