/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.restoreWrapper{
    padding-top:30px;
    display: block;
}
.ag-theme-material{
    width: 100%; 
    height: 200px;
}