<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<a style="text-decoration: none;" *ngFor="let crumb of service.crumbs$ | async" [routerLink]="crumb.route"
  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
  <a routerLink="/viewDB" class="mainBreadcrumb" *ngIf="crumb.urlSegment === 'viewDB'">
    Databases <mat-icon class="breadcrumbDivider">
      arrow_forward_ios</mat-icon> <a class="subBreadcrumb"> MySql</a>
  </a>
  <a routerLink="/viewDB" class="mainBreadcrumb"
    *ngIf="crumb.urlSegment === 'createDB' || crumb.urlSegment === 'createDBDetails'">
    Databases <mat-icon class="breadcrumbDivider">
      arrow_forward_ios</mat-icon> <a class="subBreadcrumb">MySql</a>
    <a class="subBreadcrumb">
      <mat-icon class="breadcrumbDivider">
        arrow_forward_ios</mat-icon> {{ crumb.label || crumb.urlSegment }}
    </a>
  </a>
  <a routerLink="/clusters" class="mainBreadcrumb" *ngIf="crumb.urlSegment === 'clusters'">
    Clusters
  </a>
  <a routerLink="/dataCenter" class="mainBreadcrumb" *ngIf="crumb.urlSegment === 'dataCenter'">
    Data Centers
  </a>

  <a routerLink="/userProfile" class="mainBreadcrumb" *ngIf="crumb.urlSegment === 'userProfile'">
    Profile
  </a>
</a>