/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.mainBreadcrumb{
    color:#C53E6C;
    font-size:13px;
    text-decoration:none
}
.subBreadcrumb{
    color:black;
    font-size:13px;
    color:#333333;
    text-decoration: none;
}
.breadcrumbDivider{
    font-size: 14px !important;
    vertical-align: sub;
    width: 14px !important;
    color:#C53E6C
}