/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/
.item-head{
    border-radius: .1em;
    color: black;
    padding: 2em 1em;
}
.item{
    border-radius: .1em;
    color: black;
    padding: 1em 1em;
}
.itemIntegration{
    border-radius: .1em;
    color: black;
    padding: 1em 1em;
    padding-right:0px;
}
.instance-details{
    background-color: white;
    color:black
}
.monitoring-details{
    background-color: white;
}
.head-flex{
      font-size: 12px;
      color:#606060;
      margin-bottom:5px
}
.sub-head-flex{
    font-size: 13px;
    color: #333333;
    margin:0px;
    overflow-wrap: anywhere; 
}
.created-head-flex{
    font-size: 13px;
    color: #333333;
    margin:0px;
    overflow-wrap: anywhere;  
}
.sub-head-flex:first-letter{
    text-transform: capitalize;
}
.noUpperCase{
    font-size: 12px;
    color: #333333;
    margin:0px;
    overflow-wrap: anywhere; 
}
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid #f5dfe6;
    border-right: 6px solid #ef6b98;
    border-bottom: 6px solid #C53E6C;
    border-top: 6px solid #C53E6C;
    border-radius:100%;
} 
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation{
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation{
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.dashboradImg img{
    width:250px;
    height: 200px;
    margin:0 auto;
}
.dashboradImg{
    text-align:center;
}
.grafanaContainer{
    font-size: 12px;
    padding-top: 20px;
    color: #686868;
}
.dashboardError{
    font-size: 24px;
    color:#333333;
    font-family: 'Rakuten Sans Bold';
}
.mat-button[disabled]{
    background-color: #F7F7F7 !important;;
    width: 80px;
    height: 45px;
    margin-top: 1px;
}
.mat-button{
    background: #C53E6C !important;
    float: right;
    color:white;  
    width: 80px;
    height: 45px;
    margin-top: 1px;
}
.mat-card-header .mat-card-title{
    font-family: 'Rakuten Sans Bold';
    color:#333333
}
.matGrp{
    height: auto;
}
.containerMargin{
    margin-top:20px
}
.confirmDialoge{
    padding: 0.6em;
    text-align:right
}
.confirmDialoge a{
    cursor: pointer;
}
.matFromContainer{
    width:750px !important
}
.container2{
    color:black;
}
.title-card-right{
    display: inline !important;
    float: right !important;
}
.title-card-left{
    display: inline !important;
}
.pinkLink{
    text-decoration: underline;
    color: #C53E6C;
}
.pinkLinkGraphana{
    text-decoration: underline;
    color: #C53E6C;
    display: inline-block;
    width: 184px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.mat-card-subtitle{
    margin-top:4px !important
}
.disableContainer{
    box-shadow: none;
    border: 1px solid #F2F2F2;
}
.backupDisable{
    float:left;
    padding-right: 16px;
}
.integrationBtn{
    margin-top:18px !important
}
