<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->
<div class="container-fluid containerMargin" fxLayout fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
     <div class="item-head instance-details" fxFlex="30%">
          <mat-card-header>
               <mat-card-title class="title-card-left">{{response.name}}</mat-card-title>
               <mat-card-title  class="title-card-right">
                    <span class="sub-head-flex">
                         <span class="green_icon" *ngIf="ready"></span>
                         <span class="red_icon" *ngIf="error"></span>
                         <span class="orange_icon" *ngIf="other"></span>
                         <p class="statusCap" style="display: inline-block;">{{response.status}}</p>
                    </span>
               </mat-card-title>
               <mat-card-subtitle>
                    <p>Root Username : <span style="text-transform: capitalize;">{{response['root-user']}}</span></p>
                  
               </mat-card-subtitle>
               
             
          </mat-card-header>
          <mat-divider></mat-divider>
          <div class="confirmDialoge">
               <a (click)="confirmDialog()">
                    <img src="../../../assets/Delete Outline.png"></a>
          </div>
          <mat-divider></mat-divider>
          <mat-card-content>
               <div class="container2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" style="color:black">
                    <div class="item item-1" fxFlex="60%" fxFlexOrder="3">
                         <p class="head-flex">Estimated Cost Per Month</p>
                    </div>
                    <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
                         <p class="head-flex">My SQL Version</p>
                         <p class="sub-head-flex">{{response['catalog-version']}}</p>
                    </div>
               </div>
               <div class="container2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" style="color:black">
                    <div class="item item-1" fxFlex="50%">
                         <p class="head-flex"> Database Type</p>
                         <p class="sub-head-flex"> MySql</p>
                    </div>
                    <div class="item item-2" fxFlex="50%">
                         <p class="head-flex">Flavour</p>
                         <p class="sub-head-flex">{{response['catalog-flavour']}}</p>
                    </div>
               </div>
               <div class="container2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" style="color:black">
                    <div class="item item-1" fxFlex="50%">
                         <p class="head-flex">No. of Pods</p>
                         <p class="sub-head-flex">{{response['replication-factor']}}</p>
                    </div>
                    <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
                         <p class="head-flex">Deployment Type</p>
                         <p class="sub-head-flex">{{response['deployment-type']}}</p>
                    </div>
               </div>
               <div class="container2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" style="color:black">
                    <div class="item item-1" fxFlex="50%">
                         <p class="head-flex">Endpoint</p>
                         <p class="noUpperCase pinkLink">{{response.endpoint}}</p>
                    </div>
                    <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
                         <p class="head-flex">Database Character Set</p>
                         <p class="sub-head-flex">{{response['character-set']}}</p>
                    </div>
                   
               </div>
               <div class="container2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" style="color:black">
      
                    <div class="item item-1" fxFlex="50%" fxFlexOrder="3">
                         <p class="head-flex">Port</p>
                         <p class="sub-head-flex">{{response.port}}</p>
                    </div>
                    <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
                         <p class="head-flex">Grafana Dashboard Link</p>
                         <a href="{{urlLink}}" class="noUpperCase pinkLinkGraphana" *ngIf="response['additional-parameters'].length>0">{{urlLink}}</a>
                    </div>
               </div>
               <div class="container2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" style="color:black">
                    <div class="item item-1" fxFlex="50%">
                         <p class="head-flex">Created By</p>
                         <p class="created-head-flex">{{response['created-by']}}</p>
                    </div>
                    <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
                         <p class="head-flex">Created Date</p>
                         <p class="sub-head-flex">{{response['created-time']}}</p>
                    </div>
               </div>
          </mat-card-content>
          <mat-card class="disableContainer">
            
         
               <mat-card-content class="backupContent">
                
                
                       <div class="container-disable" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" style="color:black">
                         <div class="item item-1" fxFlex="60%" fxFlexOrder="3">
                              <img [src]="response['backup-policy'].enabled === false ? '../../../../assets/Ban_OutlineDisable_Dark.png' : '../../../../assets/status_icon.png'" class="backupDisable" src="../../../../assets/Ban_OutlineDisable_Dark.png">
                              <p class="head-flex"> Backup Policy Status</p>
                              <p class="sub-head-flex">{{response['backup-policy'].enabled == false ? 'Disabled' : 'Success'}}</p>
                         </div>
                         <mat-divider></mat-divider>
                         <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
                              <img class="backupDisable"  [src]="responseRestore.length > 0 ? '../../../../assets/status_icon.png' : '../../../../assets/Ban_OutlineDisable_Dark.png'">
                              <p class="head-flex">Restore Status</p>
                              <p class="sub-head-flex">{{responseRestore.length > 0 ? 'Restored' : 'Not Restored'}}</p>
                         </div>
                    </div>
               </mat-card-content>
             </mat-card>
     </div>
     <div class="item-head monitoring-details" fxFlex="70%" [@.disabled]="true">
          <mat-tab-group class="matGrp">
              
               <mat-tab label="MySQL Metrics">
                    <ng-template matTabContent>
                    <div class="grafanaContainer">
                         <div class="row">
                              <mat-label>Grafana Dashboard Link*</mat-label>
                         </div>
                         <mat-form-field appearance="outline" class="matFromContainer">
                              <input matInput [(ngModel)]="grafanaInput"
                                   placeholder="Please Enter Grafana Dashboard Link">
                         </mat-form-field>
                         <button mat-button [disabled]="!grafanaInput" type="submit"
                              (click)="showDashboard(grafanaInput)">Submit</button>
                         <div *ngIf="showDashboardGrafana">
                            <div id="dash"></div>
                            <iframe width="100%" height="500" [src]="grafanaInput | safe" allow_embedding = true></iframe>
                         
                         </div>
                         <div class="row dashboradImg" *ngIf="!showDashboardGrafana">
                              <img src="../../../assets/Data Not Available.png" />
                              <p class="dashboardError">Dashboard Not Configured</p>
                              <p>Please enter Grafana Dashboard Link and click on submit button.</p>
                         </div>
                    </div>
               </ng-template>
               </mat-tab>
             
               <mat-tab label="Backups">
                    <ng-template matTabContent>
                         <app-backup-restore></app-backup-restore>
                       </ng-template>
                    
               </mat-tab>
               <mat-tab label="Integration">
                   
                   
                    <ng-template matTabContent>
                         <div  ng-cloak class="container2 grafanaContainer" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px" style="color:black" *ngIf="!enableBackup">
                              <div class="itemIntegration item-1" fxFlex="45%">
                                   <mat-label>End Point*</mat-label>
                                   <mat-form-field appearance="outline" class="integration">
                                        <input matInput [(ngModel)]="endPointInput"
                                             placeholder="Please Enter End Point">
                                   </mat-form-field>
                              </div>
                              <div class="itemIntegration item-2" fxFlex="45%" fxFlexOrder="2">
                                   <mat-label>Port*</mat-label>
                                   <mat-form-field appearance="outline" class="integration">
                                        <input matInput [(ngModel)]="portInput"
                                             placeholder="Please Enter Port">
                                   </mat-form-field>
                              </div>
                              <div class="itemIntegration item-2" fxFlex="10%" fxFlexOrder="3">
                                   <button class="integrationBtn" mat-button [disabled]="!endPointInput || !portInput" type="submit"
                                   (click)="showDashboard(grafanaInput)">Submit</button>
                              </div>
                            </div>
               
                       </ng-template>
                    
               </mat-tab>
          </mat-tab-group>
     </div>
</div>
<div *ngIf="showLoader" class="loader"></div>