/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid #f5dfe6;
    border-right: 6px solid #ef6b98;
    border-bottom: 6px solid #C53E6C;
    border-top: 6px solid #C53E6C;
    border-radius:100%;
}    
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation{
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.create-hover{
    background-image: url('../../../assets/import.png');
    width: 37px;
    height: 37px;
    display: block;
}
.create-hover:hover{
    background-image: url('../../../assets/import_hover.png');
}
.dialoge-wrapper{
    background: #FFFFFF;
    border: 1px dashed #686868;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    padding: 42px;
    text-align: center;
}
.importContainer{
    Width:596px;
    Height:453px;
    border-radius:4px;
}
.dragTxtOr{
    color:#DFDFDF;
    margin:0px;
}
.browseFile{
    color:#C53E6C;
    font-size:16px;
    cursor:pointer 
}
#imageUpload{
    display: none;
}
.downloadContainer{
    margin-top:10px;
}
.fileType{
    float:left
}
.fileIcon{
    float:right;
    color:#C53E6C
}
.downloadTemp{
    float:right;
    color:#C53E6C;
    text-decoration: none;
    font-size:16px
}
.downloadActionBtns{
    float:left;
    clear: both;
    border:1px solid #EBEBEB;
    padding:20px;
    width:100%;
    color:#333333;
    font-weight: bold;
    margin-top:20px
}
.matActions{
    float:right;
    clear: both;
    margin-top:30px
}
.cancelAction{
    width: 90px;
    margin-right:10px
}
.flex-container{
    margin-top:20px; 
    margin-bottom:20px;
}
.rowCount{
    color:#cccaca;
}
.rowCountValue{
    margin-left: 2px;
    margin-right: 2px;
}
.openDialogue{
    cursor: pointer;
}
.agGridContainer{
    width: 100%; 
    height: 500px;
}
