<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<div class="importContainer">
  <h1 mat-dialog-title>Import Data Center</h1>
  <mat-divider></mat-divider>
  <div *ngIf="extensionChk" class="alert alert-danger" role="alert">
    Uploaded file is not in the json format. Please try again.
  </div>
  <div class="dialoge-wrapper" appFileDragNDrop (filesChangeEmiter)="onChange($event)">
    <div mat-dialog-content>
      <div>
        <img src="../../../assets/Upload Outline.png">
        <p class="dragTxt">Drag and drop here</p>
        <p class="dragTxtOr">or</p>
        <label for="imageUpload" class="browseFile">Browse File</label>
        <input type="file" id="imageUpload" (change)="onChange($event.target.files)">
      </div>
    </div>
  </div>
  <div class="downloadContainer">
    <div class="fileType">File Type : JSON</div>
    <div class="fileIcon">
      <mat-icon>get_app</mat-icon>
      <a href="../../../assets/dataCenter.json" class="downloadTemp" target="_blank" download="dataCenter.json">
        Download Template
      </a>
    </div>
  </div>
  <div class="downloadActionBtns" *ngIf="fileName">{{fileName}}</div>
  <div mat-dialog-actions class="matActions">
    <button mat-stroked-button color="accent" (click)="onCancelClick()" class="cancelAction">Cancel</button>
    <button mat-button class="onSubmitBulk" (click)="onSubmit()" [disabled]="noFileUploaded">Submit</button>
  </div>
</div>