/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.header-image {
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    object-fit: cover;
}

.card {
    width: 1;
    height: 100%;
    margin-top: 9%;
}

.main-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.mat-card-title{
    font-size: 19px;
}

.mat-card-subtitle{
    font-size: 17px;
}

