<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->


<div class="container-fluid" *ngIf="token">
  <div class="card mx-auto mt-3" style="height: 900px; width:1000px;">
    <div class="card-body">
      <div class="row g-0">
      <div class="col-md-3">
        <img src="{{userProfile.userImage}}" class="header-image " alt="profile">
      </div>
        <div class="col-md-3">
          <h6 class="card-title">First Name</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.firstName}}</h5>

          <h6 class="card-title">Select Organization</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.selectOrg}}</h5>

          <h6 class="card-title">User Name</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.userName}}</h5>
        </div>
        <div class="col-md-3">
          <h6 class="card-title">Middle Name</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.middleName}}</h5>

          <h6 class="card-title">Authentication Type</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.authType}}</h5>

          <h6 class="card-title">Phone Number</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.phoneNumber}}</h5>
        </div>
        <div class="col-md-3">
          <h6 class="card-title">Last Name</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.lastName}}</h5>
          
          <h6 class="card-title">Email ID</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.emailID}}</h5>

          <h6 class="card-title">Location</h6>
          <h5 class="card-subtitle mb-4">{{userProfile.location}}</h5>
        </div>
    </div>
  </div>
</div></div>