<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<div class="container-fluid">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="flex-item">
      <span class="displayColor">Displaying <span class="rowCountColor">{{rowCount}}</span>Databases</span>
    </div>
    <div class="flex-item" fxLayoutGap="20px">
      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end">
        <br>
        <div><img src="../../../assets/refresh.png"></div>
        <div> <a routerLink='/createDB' class="create-hover"></a></div>
        <div><img src="../../../assets/Outline Dropdown Buttons - Segmented Icon.png"></div>
        <div><img src="../../../assets/filter.png"></div>
        <div><img src="../../../assets/bar.png"></div>
      </div>
    </div>
  </div>
  <ag-grid-angular class="ag-theme-material" [rowData]="rowData"
    (rowClicked)='onrowClicked($event)' [tooltipShowDelay]="tooltipShowDelay"
    [frameworkComponents]="frameworkComponents" [columnDefs]="columnDefs" (selectionChanged)="onCellMouseOver($event)"
    [overlayLoadingTemplate]="overlayLoadingTemplate" (rowDataChanged)="countDisplayedRows($event)"
    [gridOptions]="gridOptions" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
<div *ngIf="showLoader" class="loader"></div>