/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

table {
    width: 100%;
}
.createBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 14px;
    color: white;
    width: 78px;
    height: 36px;
    background: #C53E6C;
    border: 1px solid #C53E6C;
    box-sizing: border-box;
    border-radius: 4px;
}
.createDisable{
    color: #898989;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 14px;
    opacity: 0.5;
    width: 78px;
    height: 36px;
    background: #E8E8E8;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
}
.btnContainer{
    margin-bottom: 20px;
}
.no-border.ag-cell:focus{
    border:none !important;
    outline: none !important;
}
.create-hover{
    background-image: url('../../../assets/create.png');
    width: 37px;
    height: 37px;
    display: block;
}
.create-hover:hover{
    background-image: url('../../../assets/create_hover.png');
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid #f5dfe6;
    border-right: 6px solid #ef6b98;
    border-bottom: 6px solid #C53E6C;
    border-top: 6px solid #C53E6C;
    border-radius:100%;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.ag-theme-material{
    width: 100%; 
    height: 500px;
}
.flex-container{
    margin-top:20px ; 
    margin-bottom:20px ;
}
.displayColor{
    color:#9C9C9C
}
.rowCountColor{
    margin-left: 2px;
    margin-right:2px;
}
