<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->
<button class="close" mat-button (click)="onDismiss()">X</button>
<div class="wrapper">
  <img class="wrapper-img" src="../../../../assets/disable_large.png">
  <div mat-dialog-content>
    <p class="messageTitle" cdkFocusInitial>{{message}}</p>
    <p class="subTitle"><b>{{subTitle}}</b></p>
  </div>
  <div mat-dialog-actions class="action-buttons">
    <button mat-raised-button color="primary" class="confirm-btn" (click)="onConfirm()">Disable</button>
  </div>
</div>
<div *ngIf="showLoader" class="loader"></div>