/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/
.wrapper{
    Width:403px;
    Height:326px;
    overflow:hidden;
    border-radius:4px;
    text-align: center;
}
.wrapper-img{
    padding-bottom: 24px;
}
.action-buttons{
    text-align: center;
    margin-top:10px;
    display: inline-block;
}
.cancel-btn{
    margin-right:30px
}
.confirm-btn{
    background: #C53E6C !important;
    float: right;
    color: white;
}
.messageTitle{
    padding:0;
    margin:0
}
.subTitle{
    text-transform: capitalize
}
button.close.mat-button {
    font-size: 24px !important;
    background: white !important;
    color: #686868 !important;
    float:right;
}