<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

 <div class="container-fluid">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="flex-item"> 
      <span class="rowCount">Displaying<span class="rowCountValue">{{rowCount}} </span> Clusters</span>
    </div>
    <div class="flex-item" fxLayoutGap="20px">
      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end">
        <div><img src="../../../assets/refresh.png"></div>  
         <div class="openDialogue"><span class="create-hover" (click)="openDialogCluster()"></span></div>
        <div><img src="../../../assets/Outline Dropdown Buttons - Segmented Icon.png"></div>
         <div><img src="../../../assets/filter.png"></div>
        <div><img src="../../../assets/bar.png"></div> 
      </div>
    </div>
  </div>
   <ag-grid-angular class="ag-theme-material agGridContainer" [rowData]="rowData" [columnDefs]="columnDefs" [overlayLoadingTemplate]="overlayLoadingTemplate" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" (rowDataChanged)="countDisplayedRows($event)"></ag-grid-angular>
  </div>

