<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<div class="container-fluid">
 <app-backup></app-backup>
 <app-restore></app-restore>
</div>