<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<div class="row">
  <div class="column1">
    <img style="position: relative;left: 42%;top: 22%;" src="../../../assets/login_logo.png"/>
    <mat-card class="container">
      <h4 class="sign-in">
        <strong>Sign in</strong>
      </h4>
    <div style="margin-top:20px;margin-bottom:20px">
      <form [formGroup]="loginForm">
        <div class="row">
          <mat-label class="userMangement">Email*</mat-label>
        </div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email Address" formControlName="email" type="email" required>
          <mat-error *ngIf="loginForm.controls['email'].invalid">
            {{getError('user')}}
          </mat-error>
        </mat-form-field>
        <div class="row">
          <mat-label class="userMangement">Password*</mat-label>
        </div>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="loginForm.controls['password'].invalid">
            {{getError('pass')}}
          </mat-error>
        </mat-form-field>
        <div>
          <button class="button1" [disabled]="!loginForm.valid" (click)="login()">Proceed</button>
        </div>
        <mat-error *ngIf="error" style="text-align:center;font-size:1vw;"> Invalid Credentials</mat-error>
        <div class="row">
          <div class="col-sm-6"><a mat-button href="" class="userMangement">Forgot Password</a></div>
          <div class="col-sm-6"><a mat-button href="" class="userMangement">NewUser ? Register</a></div>
        </div>
      </form>
    </div>
      <div class="text-center mat-typography">
        <h4 class="info">
          Sign In with Rakuten INTRA or Rakuten Id
        </h4>
      </div>
    </mat-card>
  </div>
  <div class="column2">
  </div>
</div>