/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

form{
    margin: auto;
}
mat-form-field{
    display: block;  
}
.email{
    position: absolute;
    height: 36px;
    left: 0px;
    right: 0px;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 4px;
}
.text-center{
    text-align: center; 
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remember-me{
    flex-direction: row-reverse;
}
.logo{
    max-width: 250px;
    margin: auto;
    width: 100%;
    display: block;
} 
.page-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.container{
    position: absolute;
    width: 380px;
    height: 348px;
    left: 170px;
    top: 267px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    background: #FFFFFF;
    border-radius: 4px;
}
.badge-logo{
    width: 60px;
    margin: 0 auto 10px;
    display: block;
}
@media (max-width:600px){
    .flex-center{
      display: right;
      text-align: center;
    }
}
.links{
    color:#4da3d4; 
}
.links:visited {
    color: #4da3d4;
}
.l-panel{
    background: url(src\assets\Frame_8585.jpg),linear-gradient(135deg, #127cbf 0%,#094d9c 50%);
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 795px; 
    background-image: url('src\assets\Frame_8585.jpg');
}
.column2 {
    float: right;
    width: 50%;
    padding: 10px;
    height: 795px; 
    background-image: url('src\assets\Right Panel.jpg');
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.sign-in{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #333333;
}
.info{
    padding-top:15px;
    position: static;
    font-size: 14px;
    line-height: 20px;
    color: #C53E6C;
    box-sizing: border-box;
    border-radius: 4px;
}
.button1 {
    background: #C53E6C;
    border: 1px solid #C53E6C;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    box-sizing: border-box;
}
.link1{
    position: absolute;
    width: 91px;
    height: 16px;
    left: 24px;
    top: 308px;
    font-family: Rakuten Sans UI;
    font-size: 12px;
    line-height: 16px;
    color: #686868;
}
.link2{
    position: static;
    height: 16px;
    left: 0px;
    right: 55px;
    top: 0px;
    font-family: Rakuten Sans UI;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.link3{
    position: static;
    height: 16px;
    left: 68px;
    right: 0px;
    top: 0px;
    font-family: Rakuten Sans UI;
    font-size: 12px;
    line-height: 16px;
    color: #686868;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}
.userMangement{
    font-size:12px !important;
    color:#686868
}
 





  