/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";
@import "./assets/google-material.css";

/*
Font Style Set
font: Rakuten Sans, Rakuten Sans UI
*/

/* ------ All in : Rakuten Sans ------ */
/* Light */

@font-face {
    font-family: 'Rakuten Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rakuten Sans Regular'),
    url('./assets/Fonts/rakuten-sans/rakuten-sans/v1.1.0.0/woff2/RakutenSansUI_W_Rg.woff2') format('woff'),
    url('./assets/Fonts/rakuten-sans/rakuten-sans/v1.1.0.0/woff2/RakutenSans_W_Rg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Rakuten Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Rakuten Sans Bold'),
    url('./assets/Fonts/rakuten-sans/rakuten-sans/v1.1.0.0/woff/RakutenSans_W_Bd.woff') format('woff'),
    url('./assets/Fonts/rakuten-sans/rakuten-sans/v1.1.0.0/woff2/RakutenSans_W_Bd.woff2') format('woff2');
  }
html{height: 100%;}
body {background:white !important;height:100%;margin: 0; font-family: "Rakuten Sans", "Helvetica Neue", sans-serif !important;font-size: 14px;background:#F1F3F4; }
.mainHeading{
    text-align: center;
}
.side-nav{
    padding: 0px;
    border:1px solid rgb(206, 206, 206);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:#90003B !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #90003B !important;
}
.mat-horizontal-stepper-header-container{
    margin-bottom: 20px;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    background-color: #90003B !important;
}
.mat-step-icon-state-number.mat-step-icon {
    background: transparent;
}
th.mat-header-cell {
    text-align: left;
    color: #C53E6C !important;
    font-size: 14px;
    font-weight: bold;
}
.mat-horizontal-stepper-header-container{
    background: #F2F2F2 !important;
}
.mat-dialog-container{
    padding:18px !important;
    overflow: visible !important;
}
.mat-form-field-infix{
    width: 315px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0px !important;
}
.mat-drawer-container{
    background-color: transparent !important;
    height: auto !important;
}
.mat-toolbar {
    background: white !important;
    color: rgba(0,0,0,.87);
}
.mat-horizontal-content-container{
    padding:0px !important
}
.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: transparent !important;
}
.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -32px !important;
}
.mat-drawer-inner-container {
    width: 250px !important;
    height: 100%;
}
.statusCap::first-letter{
    text-transform: capitalize;
    display: inline-block;
    margin: 0;
}
.mat-drawer-backdrop.mat-drawer-shown{
    background-color: transparent !important;
}
.mat-badge-content {
    background: #BF0000;
    color: white;
}
.paramCapital::first-letter{
    text-transform: capitalize !important;
}
.paramCapital{
    margin: 0;
    display: inline-block;
}
.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent{
    color: #C53E6C !important;
    width: 77px;
    height: 36px;
    border: 1px solid #C53E6C !important;
}
.mat-stepper-horizontal, .mat-stepper-vertical{
    font-family: inherit !important;
}
.ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.createdBy.ag-cell-value::first-letter{
    text-transform: none !important;
}
.ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.statusCapital::first-letter{
    text-transform: capitalize !important;
}
.mat-expansion-panel-header{
    font-family: inherit !important;
}
.mat-expansion-panel-content{
    font-family: inherit !important;
}
.mat-expansion-panel-body{
    padding:0 !important
}
.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{
    font-family: inherit !important;
}
.mat-snack-bar-container{
    background: #EBF7EC !important;
    color: #047205 !important;
    box-shadow: none !important;
    width:488px;
    height: 56px;
    position: absolute;
    top:0;
    right:0;
}
.ag-theme-material{
    font-family:'Rakuten Sans' !important
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #90003B !important; 
} 
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
    color:#90003B;
}
.mat-tab-label, .mat-tab-link{
    font-family:'Rakuten Sans' !important;
    opacity: 1 !important;
}
.grid-bg{
    background-color: white;
}
.ag-theme-material .ag-filter-toolpanel-header, .ag-theme-material .ag-filter-toolpanel-search, .ag-theme-material .ag-status-bar, .ag-theme-material .ag-header-row, .ag-theme-material .ag-panel-title-bar-title, .ag-theme-material .ag-side-button-button, .ag-theme-material .ag-multi-filter-group-title-bar{
    color:#333333 !important;
    font-size:14px !important
}
.ag-theme-material .ag-row{
    font-size:14px !important;
    color:#686868;
    font: caption;
}
mat-step-header .mat-step-label {
    overflow: visible;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: red; 
}
mat-step-header:nth-of-type(1) .mat-step-icon-not-touched:after,
mat-step-header:nth-of-type(1) .mat-step-icon:after {
    content: '';
    background-image: url('./assets/active.png');
}
.mat-tab-body.mat-tab-body-active{
    overflow-x: visible !important;
    overflow-y: visible !important;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid #f5dfe6;
    border-right: 6px solid #ef6b98;
    border-bottom: 6px solid #C53E6C;
    border-top: 6px solid #C53E6C;
    border-radius:100%;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.green_icon{
    height: 10px;
    background: #00B900;
    width: 10px;
    border-radius: 12px;
    display: inline-block;
    margin-right: 7px;
    position: relative;
}
.orange_icon{
    height: 10px;
    background: orange;
    width: 10px;
    border-radius: 12px;
    display: inline-block;
    margin-right: 7px;
    position: relative;
}
.red_icon{
    height: 10px;
    background: red;
    width: 10px;
    border-radius: 12px;
    display: inline-block;
     margin-right: 7px;
    position: relative;
}
.mat-action-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-list-option:focus, .mat-list-option:hover, .mat-nav-list .mat-list-item:focus, .mat-nav-list .mat-list-item:hover {
    background: #FFE8E8;
    color: #90003B !important;
}
.mat-form-field-infix {
    width: 24vw !important;
}
.ag-theme-material .ag-ltr .ag-cell::first-letter{
    text-transform: capitalize;
}
.ag-cell-focus,.ag-cell-no-focus{
    border:none !important;
}
.mat-card-title::first-letter{
    text-transform: capitalize;
}
.no-border.ag-cell:focus{
    border:none !important;
    outline: none;
}
.onSubmitBulk{
    background: #C53E6C;
    width:90px;
    color: white;
}
.mat-button[disabled], .mat-flat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled] {
    cursor: default;
    background: #F2F2F2;
    color: #898989 !important;
    background: #E8E8E8 !important;
    border: 1px solid #E8E8E8;
}
a:focus {
    outline: none;
}
.mat-select {
    font-family: 'Rakuten Sans' !important;
}
.mat-expansion-panel-content {
    font-family: 'Rakuten Sans' !important;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    font-family: 'Rakuten Sans' !important;
    font-size: 16px !important;
    font-weight: 500;
}
.mat-button[disabled]{
    background-color: #F7F7F7 !important;
}
.dragTxt{
    font-size: 16px;
    margin: 0;
}
.mat-dialog-title {
    font-family: 'Rakuten Sans Bold' !important;
    font-size: 18px !important;
}
.ag-theme-material .ag-ltr .ag-cell::first-letter {
    text-transform: capitalize;
    font-family: 'Rakuten Sans' !important;
    font-size: 15px;
}
.mat-button.mat-accent .mat-button-focus-overlay, .mat-icon-button.mat-accent .mat-button-focus-overlay, .mat-stroked-button.mat-accent .mat-button-focus-overlay{
    background-color: white !important;
}
.mat-tab-body-content {
    height: 600px !important;
    overflow: visible !important;
}
.mat-tab-group{
     font-family: 'Rakuten Sans' !important;
}
.mat-card {
    padding-left: 0px !important;
    font-family: 'Rakuten Sans' !important;
}
.mat-menu-panel{
  
    position: relative !important;
}
 .mat-tab-body-wrapper{
    overflow: visible !important;
}
.mat-card-header-text{
    width: 100% !important;
}
.matInputAlign{
    font-size: 12px !important
}