<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<div class="contentBlockWrapper">
  <div class="alert alert-success" role="alert" *ngIf="message">
    DB Provisioning started successfully.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errmessage">
    DB Instance creation has failed.
  </div>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <ng-template matStepperIcon="number">
      <img src="../../../assets/disabledIcon.png">
    </ng-template>
    <ng-template matStepperIcon="edit">
      <img src="../../../assets/active.png">
    </ng-template>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="firstForm container">
        <ng-template matStepLabel class="mainHeading">Basic Information</ng-template>
        <h5 class="step-title">Details</h5>
        <div class="row">
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label>Cluster Name*</mat-label>
            </div>
            <mat-form-field appearance="outline">
              <input matInput placeholder="" formControlName="instanceVal" maxlength="63" required
                [errorStateMatcher]="matcher">
              <mat-error
                *ngIf="firstFormGroup.controls.instanceVal.hasError('required') && firstFormGroup.controls.instanceVal.touched">
                DB Instance name is mandatory</mat-error>
              <mat-error *ngIf="firstFormGroup.controls.instanceVal.hasError('pattern')">
                MySQL DB Instance name allows 6 to 63 Alphanumeric characters or hyphens .First character must be an
                alphabet. Cannot have two consecutive hyphens and cannot end with a hyphen.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label>Version*</mat-label>
            </div>
            <mat-form-field appearance="outline">
              <mat-select (selectionChange)="ontestChange()" placeholder="Choose Version" formControlName="mySQLVal"
                name="mySQLVal" [(ngModel)]="sqlVersion" required>
                <mat-option *ngFor="let el of versions" value="{{el}}">{{el}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label>Root Username*
              </mat-label>
            </div>
            <mat-form-field appearance="outline">
              <input matInput placeholder="" formControlName="userNameVal" value="root">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label>Password*
              </mat-label>
            </div>
            <mat-form-field appearance="outline">
              <input matInput #password [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="32"
                required [errorStateMatcher]="matcher">
              <mat-icon class="passIcon" matSuffix (click)="hide = !hide">{{hide ?
                'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="firstFormGroup.controls.password.hasError('pattern')">
                Password must be at least 10 characters long and must contain at least 1 numeric character, 1 lowercase
                character, 1 uppercase character, and 1 special character. </mat-error>
              <mat-error
                *ngIf="firstFormGroup.controls.password.hasError('required') && firstFormGroup.controls.password.touched">
                Password is mandatory</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label>Confirm Password*
              </mat-label>
            </div>
            <mat-form-field appearance="outline">
              <input matInput [type]="hideconfirm ? 'password' : 'text'" formControlName="confirmPass" maxlength="32"
                required (input)="onInput()" [errorStateMatcher]="matcher">
              <mat-icon class="passIcon" matSuffix (click)="hideconfirm = !hideconfirm">
                {{hideconfirm ? 'visibility_off' :
                'visibility'}}</mat-icon>
              <mat-error *ngIf="this.notEqual && firstFormGroup.controls.confirmPass.dirty">
                Password mismatched</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label>Flavour*</mat-label>
            </div>
            <mat-form-field appearance="outline">
              <mat-select [(ngModel)]="choosenFlavor" placeholder="Choose Flavor" formControlName="flavorVal" required>
                <mat-option *ngFor="let ver of flavors" value="{{ver}}">{{ver}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label>Database Character Set*
              </mat-label>
            </div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="charselected" placeholder="Choose Character Set" formControlName="charVal"
                required>
                <mat-option value="UTF-8">UTF-8
                </mat-option>
                <mat-option value="utf8mb4">utf8mb4
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 matInputAlign">
            <div class="row">
              <mat-label class="deploymentAlign">Deployment Type*
              </mat-label>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="deploymentVal" class="col-lg-9">
              <mat-radio-button value="Single-DC-Cluster" class="clusterAlign" [checked]="true">Single DC Cluster
              </mat-radio-button>
              <mat-radio-button value="Two-DC-Cluster">Multi DC Cluster</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </form>
      <div class="container-fluid stepperIconAlign">
        <div class="container iconSpaceAlign">
          <button mat-stroked-button color="accent" class="iconMarginAlign" routerLink='/viewDB'>Cancel</button>
          <button mat-button matStepperNext
            [disabled]="firstFormGroup.controls.mySQLVal.hasError('required') || firstFormGroup.controls.flavorVal.hasError('required') || firstFormGroup.controls.instanceVal.hasError('required')|| firstFormGroup.controls.instanceVal.hasError('pattern') || firstFormGroup.controls.password.hasError('required') || firstFormGroup.controls.password.hasError('pattern') ||firstFormGroup.controls.confirmPass.hasError('notEquivalent') || firstFormGroup.controls.charVal.hasError('required')"
            type="submit">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Clusters">
      <form [formGroup]="secondFormGroup" class="firstForm container">
        <h5 class="step-title">Cluster Information</h5>
        <div class="row">
          <div class="row">
            <mat-label>No of PODs*</mat-label>
          </div>
          <mat-form-field class="col-lg-4 matInputAlign" appearance="outline">
            <mat-select formControlName="podsVal" placeholder="Choose POD Number" required>
              <mat-option value="3">3</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="7">7</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row clusterContainer">
          <h6>Cluster Details</h6>
          <div class="row clusterRowAlign">
            <div class="col-lg-4">
              <div class="row">
                <mat-label>Data Center*</mat-label>
              </div>
              <mat-form-field class="col-lg-12 matInputAlign" appearance="outline">
                <mat-select (selectionChange)="getCluster($event)" formControlName="dataCenter" required
                  placeholder="Choose Data Center">
                  <mat-option *ngFor="let type of dataCenter"
                    [value]="{value:type['datacenter-id'],name:type['datacenter-name']}">
                    {{type['datacenter-name']}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <mat-label>Clusters*</mat-label>
              </div>
              <mat-form-field class="col-lg-12 matInputAlign" appearance="outline">
                <mat-select [(value)]="selected" placeholder="Choose Clusters" formControlName="clusterVal"
                  placeholder="Choose Cluster" required>
                  <mat-option *ngFor="let type1 of newArrayCluster" [value]="type1['cluster-name']">
                    {{ type1['cluster-name']}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-card class="backupContainer">
          <mat-card-header>
            <mat-card-title class="title-card-left">
              <h6 class="backupHead">Backup Policy</h6>
            </mat-card-title>
            <mat-card-title class="title-card-right">
              <img src="../../../../assets/Edit Outline_no_hover.png"
                onmouseover="this.src='../../../../assets/Edit Outline.png'"
                onmouseout="this.src='../../../../assets/Edit Outline_no_hover.png'" (click)="openDialogBackup()"
                *ngIf="!enableBackup">
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="backupContent">
            <button mat-button class="onSubmitBulk" *ngIf="enableBackup" (click)="openDialogBackup()">Enable
              Backup</button>
            <div class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px" style="color:black"
              *ngIf="!enableBackup">
              <div class="item item-1" fxFlex="25%">
                <p class="head-flex"> Full Backup</p>
                <p class="sub-head-flex">{{backupDetails.fullBackup}}</p>
              </div>
              <div class="item item-2" fxFlex="25%" fxFlexOrder="3">
                <p class="head-flex">Incremental Backup</p>
                <p class="sub-head-flex">{{backupDetails.incrementBackup === 'null' ? '' :
                  backupDetails.incrementBackup}}</p>
              </div>
              <div class="item item-2" fxFlex="25%" fxFlexOrder="3">
                <p class="head-flex">Retention Period
                </p>
                <p class="sub-head-flex">{{backupDetails.retention}}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
      <div class="container-fluid stepperIconAlign">
        <div class="container stepperSpace">
          <button mat-stroked-button color="accent" matStepperPrevious (click)="btnback()"
            class="previousBtn">Previous</button>
          <button mat-stroked-button color="accent" class="iconMarginAlign" routerLink='/viewDB'>Cancel</button>
          <button mat-button matStepperNext class="nextBtn"
            [disabled]="secondFormGroup.controls.podsVal.hasError('required') || secondFormGroup.controls.dataCenter.hasError('required') || secondFormGroup.controls.clusterVal.hasError('required')">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step class="container clusterRowAlign">
      <ng-template matStepLabel>Preview</ng-template>
      <div class="container footer-spacing">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true" class="matPanelAlign"
            [expanded]=true>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5 class="step-title">Details</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container-fluid" fxLayout fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
              <div class="item-head instance-details" fxFlex="100%">
                <div class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
                  <div class="item item-1" fxFlex="30%">
                    <p class="head-flex">Cluster Name</p>
                    <p class="sub-head-flex">{{firstFormGroup.controls.instanceVal.value}}</p>
                  </div>
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
                    <p class="head-flex">Version</p>
                    <p class="sub-head-flex">{{firstFormGroup.controls.mySQLVal.value}}</p>
                  </div>
                  <div class="item item-1" fxFlex="30%" fxFlexOrder="3">
                    <p class="head-flex">Root Username</p>
                    <p class="sub-head-flex">{{firstFormGroup.controls.userNameVal.value}}</p>
                  </div>
                  <div class="item item-1" fxFlex="30%" fxFlexOrder="3">
                    <p class="head-flex">Password</p>
                    <p class="sub-head-flex">{{firstFormGroup.controls.password.value | encodingPassword}}</p>
                  </div>
                </div>
                <div class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="1">
                    <p class="head-flex">Flavour</p>
                    <p class="sub-head-flex">{{firstFormGroup.controls.flavorVal.value}}</p>
                  </div>
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="2">
                    <p class="head-flex">Database Character Set</p>
                    <p class="sub-head-flex">{{firstFormGroup.controls.charVal.value}}</p>
                  </div>
                  <div class="item item-1" fxFlex="30%" fxFlexOrder="3">
                    <p class="head-flex">Deployment Type</p>
                    <p class="sub-head-flex">{{firstFormGroup.controls.deploymentVal.value === 'Single-DC-Cluster'?
                      'Single DC Cluster' : 'Multi DC Cluster'}}</p>
                  </div>
                  <div class="item item-1" fxFlex="30%" fxFlexOrder="3">
                  </div>
                </div>
                <div class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel class="matPanelAlign" (opened)="panelOpenState1 = false"
            (closed)="panelOpenState1 = true" [expanded]=true>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5 class="step-title">Cluster Information</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container-fluid" fxLayout fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
              <div class="item-head instance-details" fxFlex="100%">
                <div class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
                  <div class="item item-1" fxFlex="30%">
                    <p class="head-flex">No. of PODs</p>
                    <p class="sub-head-flex">{{secondFormGroup.controls.podsVal.value}}</p>
                  </div>
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
                  </div>
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
                  </div>
                </div>
              </div>
            </div>
            <mat-panel-title>
              <h5 class="step-title-cluster">Cluster 1</h5>
            </mat-panel-title>
            <div class="container-fluid" fxLayout fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
              <div class="item-head instance-details" fxFlex="100%">
                <div class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
                  <div class="item item-1" fxFlex="30%">
                    <p class="head-flex">Cluster</p>
                    <p class="sub-head-flex">{{secondFormGroup.controls.clusterVal.value}}</p>
                  </div>
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
                    <p class="head-flex">Data Center</p>
                    <p class="sub-head-flex">{{secondFormGroup.controls.dataCenter.value.name}}</p>
                  </div>
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngIf="backupDetails">
          <mat-expansion-panel (opened)="panelOpenState1 = false" (closed)="panelOpenState1 = true" [expanded]=true>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5 class="step-title">Backup Policy</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container-fluid" fxLayout fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
              <div class="item-head instance-details" fxFlex="100%">
                <div class="container2" fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px" style="color:black"
                  *ngIf="!enableBackup">
                  <div class="item item-1" fxFlex="25%">
                    <p class="head-flex"> Full Backup</p>
                    <p class="sub-head-flex">{{backupDetails.fullBackup}}</p>
                  </div>
                  <div class="item item-2" fxFlex="25%" fxFlexOrder="3">
                    <p class="head-flex">Incremental Backup</p>
                    <p class="sub-head-flex">{{backupDetails.incrementBackup === 'null' ? 'NA' :
                      backupDetails.incrementBackup}}</p>
                  </div>
                  <div class="item item-2" fxFlex="25%" fxFlexOrder="3">
                    <p class="head-flex">Retention Period
                    </p>
                    <p class="sub-head-flex">{{backupDetails.retention}}</p>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngIf="!backupDetails">
          <mat-expansion-panel (opened)="panelOpenState1 = false" (closed)="panelOpenState1 = true" [expanded]=true>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5 class="step-title">Backup Policy</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="backupNotEnabled">Backup is not enabled.</div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <div class="container-fluid stepperIconAlign">
          <div class="container iconSpaceAlign">
            <button mat-stroked-button color="accent" matStepperPrevious (click)="btnback()"
              class="previousBtn">Previous</button>
            <button mat-stroked-button color="accent" class="iconMarginAlign" routerLink='/viewDB'>Cancel</button>
            <button mat-button matStepperNext class="nextBtn" (click)="createDB()">Submit</button>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div *ngIf="showLoader" class="loader"></div>