/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/
.step-title{
    color: #333333;
    display: inline-block;
    color: #333333;
    display: inline-block;
    font-size: 16px;
    font-family: 'Rakuten Sans Bold';
}
.step-title-cluster{
    color: #333333;
    display: inline-block;
    color: #333333;
    display: inline-block;
    font-size: 16px;
    font-family: 'Rakuten Sans Bold';
    padding: 0 24px;
}
.mainHeading{
    margin-bottom: 30px;
    background: transparent;
}
.mat-horizontal-stepper-header-container{
    padding-bottom: 30px;
}
mat-label, mat-radio-group{
    margin-top:20px;
}
mat-label{
    font-size: 12px;
    color:#606060;
}
mat-radio-button{
    padding-right: 10px;
}
.mat-button{
    background: #C53E6C !important;
    float: right;
    color:white;  
}
.matStepperNext{
    position:absolute;
}
.resetBtn{
    margin-right:20px;
    width: 77px;
    background-color: darkgray !important;
}
.clusterHead{
    margin-top:20px;
}
.previewWidth{
    display: inline-block;
    width: 167px;
    font-size: 14px;
}
.dataPreview{
    margin-left:200px
}
.previewRight{
    width: 80px;
    display: inline-block;
}
.mat-button[disabled]{
    background-color: #F7F7F7 !important;;
    width: 77px;
}
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid #f5dfe6;
    border-right: 6px solid #ef6b98;
    border-bottom: 6px solid #C53E6C;
    border-top: 6px solid #C53E6C;
    border-radius:100%;
}    
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation{
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.createDisable{
    color: #0a0a0a !important;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 14px;   
    opacity: 0.5;
    width: 78px;
    height: 36px;     
    background: #E8E8E8;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
}
.circle {
    width: 32px;
    height: 32px;
    line-height: 26px;
    border-radius: 50%;
    font-size: 16px;
    color: #333333;
    text-align: center;
    border: 5px solid #C53E6C;
    display: inline-block;
    margin-right: 10px;
}
.firstForm{
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    height:490px;
}
.mat-card-title{
    background-color: #F2F2F2;
    font-size:14px;
    padding: 10px;
}
.mat-card{
    padding:0px;
    margin-top:20px
}
.mat-card-content{
    padding-left:10px;
}
.item-head {
    border-radius: .1em;
    color: black;   
}
.item{
    border-radius: .1em;
    color: black;
    padding: 1em 1em;
} 
.instance-details {
    background-color: white;
    color:black
}
.monitoring-details{
    background-color: white;
}
.head-flex{
    font-size: 12px;
    color:#606060;
    margin-bottom:5px
}
.sub-head-flex{
    font-size: 14px;
    color: #333333;
    margin:0px;
    word-break: break-all;
}
.footer-spacing{
    margin-bottom:30px;
}
.contentBlockWrapper{
    background-color: #F2F2F2;
}
.passIcon{
    position: absolute;
    right: 0px;
    top:-20px 
}
.deploymentAlign{
    padding-bottom: 20px;
}
.clusterAlign{
    padding-right:30px
}
.stepperIconAlign{
    bottom:0px;
    font-size: 12px;
    background-color: white;
    text-align: right;
}
.iconSpaceAlign{
    padding: 20px;
}
.iconMarginAlign{
    margin-right:30px
}
.clusterContainer{
    margin-top: 15px;
    margin-left: 1px;
}
.clusterContainer h6{
    padding:0;
}
.clusterRowAlign{
    padding:0px !important;
}
.stepperSpace{
    padding: 20px !important;
}
.previousBtn{
    width:99px;
    float:left
}
.nextBtn{
    width:77px
}
.matPanelAlign{
    margin-bottom:10px !important
}
.container2{
    color:black;
}
.title-card-right{
    display: inline !important;
    float: right !important;
    cursor: pointer;
    background: none;
}
.title-card-left{
    display: inline !important;
    float: left !important;
    background: none;
}
.backupContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: none;
    text-align: center;
}   
.onSubmitBulk{
    width:134px;
    float:none;
}
.backupHead{
    font-family: 'Rakuten Sans Bold';
}
.backupContent{
    padding-bottom:10px
} 
.head-flex{
    font-size: 13px;
    color:#606060;
    margin-bottom:5px
}
.sub-head-flex{
    font-size: 14px;
    color: black;
    margin:0px;
    overflow-wrap: anywhere; 
}
.backupNotEnabled{
    text-align: center;
    margin-left: 24px;
    padding-bottom: 37px !important;
    color: gray;
}
   