/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.backupTitle{
    font-size:16px;
    font-family: 'Rakuten Sans Bold';
}
.backupSub{
    margin-bottom: 2px;
}
.backupSpace{
    margin-top:20px;
}
.backupInput{
    width: 20vw !important;
}
.mat-dialog-container{
    padding:15px !important
}
.restoreTitle{
    margin:0;
    padding:0
}
.mat-button{
    background: #C53E6C !important;
    float: right;
    color:white;  
}
.mat-button[disabled]{
    background-color: #F7F7F7 !important;;
    width: 77px;
}
.targetInput{
    width: 100% !important;
    cursor: not-allowed;
}
.fieldWidth{
    font-size: 12px
}
.radioOne{
    padding-right:30px
}
.dialogeRight{
    float:right
}
.btnRight{
    margin-right:20px
}