<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

<h1 mat-dialog-title class="restoreTitle">Restore</h1>
<mat-divider></mat-divider>
<div class="fieldWidth">
  <div mat-dialog-content>
    <div class="backupSpace">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="PITR" [disabled]="true" class="radioOne">PITR</mat-radio-button>
        <mat-radio-button value="Full" [checked]="true" [(ngModel)]="restoreValue">Full Restore</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="backupSpace fieldWidth">
      <div class="row">
        <div>
          <mat-label>Target Cluster*</mat-label>
          <mat-form-field appearance="outline" class="targetInput">
            <mat-select [(ngModel)]="targetName" required placeholder="Choose Target Cluster">
              <mat-option *ngFor="let ver of targetCluster" value="{{ver.id}}">{{ver.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="dialogeRight">
  <button mat-stroked-button color="accent" class="btnRight" (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!restoreValue || !targetName" (click)="onSubmit()">Submit</button>
</div>
<div *ngIf="showLoader" class="loader"></div>