<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->
<h1 mat-dialog-title>Configure Backup</h1>
<div style="font-size: 12px">
  <div mat-dialog-content style="overflow: visible !important;">
    <p class="backupTitle">Backup Schedule</p>
    <div class="backupSpace">
      <p class="backupSub">Full Backup Frequency</p>
      <mat-radio-group #radioButton aria-label="Select an option" [(ngModel)]="fullBackup" (change)="radioChange($event.value)">
        <mat-radio-button value="Monthly" class="mat-radio-right">Monthly</mat-radio-button>
        <mat-radio-button value="Weekly">Weekly</mat-radio-button>
        <mat-radio-button value="Daily" class="mat-radio-left">Daily</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="backupSpace">
      <p class="backupSub">Incremental Backup Frequency</p>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="incrementBackup">
        <mat-radio-button value="Weekly" [disabled]="weekDisable" >Weekly</mat-radio-button>
        <mat-radio-button value="Daily"[disabled]="dayDisable" class="mat-radio-left">Daily</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="backupSpace backspace-size">
      <div class="row">
        <mat-label>Retention Period<span>{{(weekDisable && !dayDisable) ? ' (In weeks)*' :   dayDisable ? ' (In days)*': ' (In months)*'}} </span></mat-label>
      </div>
      <mat-form-field appearance="outline" class="backupInput">
        <input matInput placeholder="Please Select Retention Period" required  [(ngModel)]="retention" type="number">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions style="float:right">
  <button mat-stroked-button color="accent" style="margin-right:20px" (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!fullBackup || !incrementBackup|| !retention" cdkFocusInitial>Apply</button>
</div>
<div *ngIf="showLoader" class="loader"></div>