/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/
.backupTitle{
    font-size:16px;
    font-family: 'Rakuten Sans Bold';
}
.backupSub{
    margin-bottom: 2px;
}
.backupSpace{
    margin-top:30px;
}
.backspace-size{
    font-size: 12px;
}
.backupInput{
    width: 20vw !important;
}
.mat-button{
    background: #C53E6C !important;
    float: right;
    color:white;  
}
.mat-button[disabled]{
    background-color: #F7F7F7 !important;;
    width: 77px;
}
.mat-radio-right{
    padding-right:30px !important
}
.mat-radio-left{
    padding-left:30px !important
}