/*

*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

*/

.searchTxt{
    width: 475px !important;
    height: 40px;
    position: static;

left: 40px;
font-size: 12px;
align-items: center;
background: #F1F3F4;
/* Forms/Placeholder Text */
border: 1px solid #F1F3F4;
color: #717171;
padding-left: 34px;
}
.searchIcn{
    position: relative;
    left: 6.2%;
    top: 7px;
    color: #9696B2;
    font-size:21px
}
.has-search{
    margin-left:90px
}
#dropdownMenuButton{
background: #EDEFF1;
border: 0;
border-radius: 0px !important;
color: #908a8a;
height: 40px;
position: relative;
top:0px;
font-size: 12px;

}
.dropdown{
    display: inline;
}