<!--
*Copyright (c) 2021 Rakuten, Inc. All Rights Reserved

*

*Unauthorised copying of this file, via any medium is strictly prohibited

*Proprietary and confidential

-->

  <div class="form-group has-search">
   <mat-icon class="searchIcn">search</mat-icon> 
    <input type="text" class="form-control" placeholder="Search" class="searchTxt">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All
      </button>
    </div>
  </div>
  

 